.form-position {
    margin-top: 5%;
    margin-left: 40%;
}

.info-size {
    margin-left: 25%;
    margin-right: 25%;
}

.title-color-blue {
    color: blue;
}

.title-color-maroon {
    color: maroon;
}

.title-color-red {
    color: red;
}

.title-color-purple {
    color: purple;
}

.main-title {
    color: gray;
}

.input-size {
    padding: 1%;
    border: solid 1px black;
}

.title-color-orange {
    color: orange;
}

.title-position {
    margin-top: 5%;
    margin-left: 34%;
}

.center-position {
    margin-left: 4%;
}